        <!DOCTYPE html>
        <html>
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <style>
        body {font-family: "Lato", sans-serif;}

        .sidebar {

          height: 100%;
          width: 230px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          padding-top: 90px;
        }

        .sidebar a {
          padding: 6px 8px 20px 16px;
          text-decoration: none;
          font-size: 20px;
          color: #818181;
          display: block;
        }

        .sidebar a:hover {
          color: #f1f1f1;
        }
        .msg{
          margin-top: 0px;
        }

        .main {
          margin-top:90px;
          margin-left:230px; /* Same as the width of the sidenav */
          padding: 0px 10px;
        }

        @media screen and (max-height: 450px) {
          .sidebar {padding-top: 15px;}
          .sidebar a {font-size: 18px;}
        }
        </style>
        </head>
        <body>
        <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <div class="sidebar">
            <a href="#"><i class="fa fa-fw fa-user"></i> {{admin}}
          <a href="/adminhome"><i class="fa fa-fw fa-home"></i> Home</a>
          <a href="/create_employee"><i class="fa fa-fw fa-wrench"></i> Create Employee</a>
          <a href="/update_employee"><i class="fa fa-fw fa-wrench"></i> Update Employee</a>
          <a href="/delete_employee"><i class="fa fa-fw fa-wrench"></i> Delete Employee</a>
          <a href="/view_user"><i class="fa fa-fw fa-user"></i> View users</a>
          <a href="/change_password"><i class="fa fa-fw fa-edit"></i>Change Password</a>
          <a href="/admin-logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </div>
        <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <div class="main">
          <div class="msg">
            {{#if msg}}<div class="card bg-danger text-dark"><div class="card-body">{{msg}}</div></div>{{/if}}
            {{#if success_msg}}<div class="card bg-success text-white"><div class="card-body">{{success_msg}}</div></div>{{/if}}
          </div>
          <div class="jumbotron jumbotron-fluid">
          <h2>Welcom Admin:</h2><h4>{{admin}}</h4>
        </div>
        <div class="container">
          <!-- 404 Error Text -->
                  <div class="text-center">
                    <div class="error mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5">Page Not Found</p>
                    <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                    <a href="admin">&larr; Back to login</a>
                  </div>

        </div><!--//container -->
        </div>
        </body>
        </html>
