<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
body {font-family: "Lato", sans-serif;}

.sidebar {

  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 90px;
}

.sidebar a {
  padding: 6px 8px 20px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.msg{
  margin-top: 0px;
}

.main {
  margin-top:90px;
  margin-left:230px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
</head>
<body>
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div class="sidebar">
    <a href="#"><i class="fa fa-fw fa-user"></i> {{manager}}
  <a href="/mhome"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="/view_pending_requests"><i class="fa fa-fw fa-wrench"></i>View Pending Requests</a>
  <a href="/manager_assign_task"><i class="fa fa-fw fa-wrench"></i>Assign Task to Employee</a>
  <a href="/empoyee_and_asset_of_manager"><i class="fa fa-fw fa-user"></i> Employees and Assets</a>
  <hr style="color:white;">

  <a href="/raise_a_request_by_manager"><i class="fa fa-fw fa-wrench"></i>Raise a Requests</a>
  <a href="/view_manager_request"><i class="fa fa-fw fa-wrench"></i>View My Requests</a>
  <a href="/view_manager_asset"><i class="fa fa-fw fa-wrench"></i>View My Asset</a>
  <a href="/transfer_manager_asset"><i class="fa fa-fw fa-wrench"></i>Transfer My Assets</a>
  <a href="/manager_profile"><i class="fa fa-fw fa-edit"></i>Update Profile</a>
  <a href="/manager-logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
</div>
<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
<div class="main">
  <div class="msg">
    {{#if msg}}<div class="card bg-danger text-dark"><div class="card-body">{{msg}}</div></div>{{/if}}
    {{#if success_msg}}<div class="card bg-success text-white"><div class="card-body">{{success_msg}}</div></div>{{/if}}
  </div>
  <div class="jumbotron jumbotron-fluid">
  <h2>Welcom Manager:</h2><h4>{{manager}}</h4>
  <a href="/inbox_of_manager" class="btn btn-primary" style="float:right;margin-right:20px;">Inbox<Sapn class="badge"></span></a>
</div>
<div class="container">


</div><!--//container -->
</div>
</body>
</html>
